body {
  min-height: 100vh;
  background: #FFF2CF;
}

main>img{
  width:100%
}

#cartButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #139f36;
  font-size: 20px;
  background-color: transparent;
  border-radius: 50%;
  border-color: #a3f8af;
}

.carousel {
  height: 25%;
  width: 100%;
}

.header-for-main{
  margin: 10px  0px 10px 25px;
  font-size: 30px;
}
.pink-style{
  margin: 5px;
  color: #dc419d;
 
}

